<div class="row sideBar-body text-dark" *ngFor="let friend of friendList" [class.selected]="friend === selectedFriend"
  (click)="selectUser(friend)">
  <div class="col-12 col-md-12">
    <div class="row">
      <div class="col-9 col-md-9 sideBar-main">
        <div class="row">
          <div class="col-sm-12 col-xs-12 sideBar-name">
            {{friend.friendEmail}}
            <button (click)="deleteFriend(friend)">X</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>