<app-header></app-header>
<h4 class="text-center p-3">HELLO, {{currentUser.username.toUpperCase() }}</h4>
<!-- <h4 class="text-center p-3">{{one | json}}</h4> -->
<!-- <p>{{currentUser | json}}</p> -->
<div class="container">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <button type="button" [disabled]="broadcast" class="btn btn-primary"
                    (click)="broadcasted()">broadcast</button>
                <li class="list-group-item list-group-item-success py-4" *ngFor='let info of currentUser.contacts'>
                    <button type="button" class="btn btn-primary" (click)="oneone(info)">{{info.userName}}</button>
                </li>
            </ul>

        </div>

        <div class="col-10">
            <div *ngIf="broadcast">
                <p>broadcast room</p>
                <div class="container-fluid list-group-item list-group-item-dark"
                    *ngFor='let info of currentUser.message; let i = index'>
                    <div class="col-11">{{info.message}}</div>
                </div>
            </div>
            <div *ngIf="one">
                <div>{{oneonetag.split(',')[0]}} and {{oneonetag.split(',')[1]}}</div>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success py-4" *ngFor='let info of one.message'>
                        <b>{{info.message}}</b>
                    </li>
                </ul>
            </div>
            <div>
                <div class="container-fluid list-group-item list-group-item-dark"
                    *ngFor='let mess of messages;  let i = index'>
                    <p>{{mess | json}}</p>
                </div>
            </div>
            <div class="bg-light">
                <div class="row ">
                    <div class="col " [formGroup]="chatForm"><br>
                        <textarea rows="4" class="container-fluid " #newmsg
                            (keyup.enter)="send(newmsg.value); newmsg.value = ''" formControlName="chat"
                            required></textarea>
                    </div>
                </div>

                <div class="row ">
                    <div class="col text-right">
                        <button type="button" [disabled]="!chatForm.valid" class="btn btn-primary"
                            (click)="send(newmsg.value); newmsg.value='';">send using chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>