<app-header></app-header>
<h4 class="text-center p-3">HELLO, {{currentUser.username.toUpperCase() }}</h4>
<!-- <h4 class="text-center p-3">{{one | json}}</h4> -->
<!-- <p>{{currentUser | json}}</p> -->
<div class="container">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <button type="button" [disabled]="broadcast" class="btn btn-primary" (click)="broadcasted()">broadcast</button>

                <li class="list-group-item list-group-item-success py-4" *ngFor='let info of currentUser.contacts'>
                    <button type="button" class="btn btn-primary" (click)="oneone(info)">{{info.userName}}</button>
                </li>
            </ul>

        </div>

        <div class="col-10">
            <div *ngIf="broadcast">
                <h5>broadcast room</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success"
                        *ngFor='let mess of message'>
                        {{mess.split(',')[0]}}
                        <span class="badge badge-info badge-pill ">{{mess.split(',')[1]}}</span>
                    </li>
                </ul>
            </div>
            <div *ngIf="login">
                <h5>broadcast room</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success"
                        *ngFor='let info of currentUser.message'>
                        {{info.message.split(',')[0]}}
                        <span class="badge badge-info badge-pill "> {{info.message.split(',')[1]}}</span>
                    </li>
                </ul>
            </div>
            <div *ngIf="one">
                <h5>{{oneonetag.split(',')[0]}} and {{oneonetag.split(',')[1]}}</h5>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success"
                        *ngFor='let info of one.message'>
                        {{info.message.split(',')[0]}}
                        <span class="badge badge-info badge-pill "> {{info.message.split(',')[1]}}</span>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-success"
                        *ngFor='let mess of messages'>
                        {{mess.split(',')[0]}}
                        <span class="badge badge-info badge-pill ">{{mess.split(',')[1]}}</span>
                    </li>
                </ul>
            </div>
            <div class="bg-light">
                <div class="row ">
                    <div class="col " [formGroup]="chatForm"><br>
                        <textarea rows="4" class="container-fluid " #newmsg (keyup.enter)="send(newmsg.value); newmsg.value = ''"
                            formControlName="chat" required></textarea>
                    </div>
                </div>

                <div class="row ">
                    <div class="col text-right">
                        <button type="button" [disabled]="!chatForm.valid" class="btn btn-primary" (click)="send(newmsg.value); newmsg.value='';">send
                            using chat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>